.navbar-brand{
    font-size: 32px !important; 
    font-weight: 700 !important;
    line-height: 48px !important;
}
.nav-link{
    font-size: 18px !important;
    font-weight: 700 !important;
}
nav{
    background-color: #2C3E50 !important;
}
